::-moz-selection {
	background-color: #ebebeb;
	color: #000000;
}

::selection {
	background-color: #ebebeb;
	color: #000000;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #000000;
}

::-webkit-scrollbar-thumb {
	background: #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
	background: #ebebeb; 
}

:root {
	color-scheme: dark;
}

@font-face {
	font-family: "Iosevka";
	src: url(./assets/fonts/iosevka-term-regular.ttf);
}

* {
	padding: none;
	margin: auto;
	scrollbar-color: #1e1e1e #000000;
}

body {
	background-color: #000000;
}

h1 {
	font-family: "Iosevka";
	font-size: 20px;
	color: #000000;
}

h1 span {
	padding: 2px;
	background-color: #ebebeb; 
}

p {
	font-family: "Iosevka";
	color: #ebebeb;
	font-size: 18px;
	padding: 5px;
}

.bigahbox {
	border: 2px solid #ebebeb;
}

a {
	color: #ebebeb;
}

h1 a {
	color: #000000;
	text-decoration: none;
}

.navlink {
	text-decoration: none;
}

a:hover {
	background-color: #ebebeb;
	color: #000000;
}

h1 a:hover {
	  text-decoration: underline;
}

.module {
	margin: 150px;
	margin-top: 40px;
	margin-bottom: 00px;
}

.middle {
	display: flex;
	justify-content: center;
}

.middle .module {
	width: 100%;
	margin-top: 40px;
}

.pictureOfMe {
	width: 400px;
	height: 400px;
	object-fit: cover;
	/* filter: grayscale(100%); */
	border: 2px solid #ebebeb;
}

.blogpic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	object-fit: cover;
	/* filter: grayscale(100%); */
	border: 2px solid #ebebeb;
}

.maththing {
	margin: auto;
}

.subhead {
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}

h2 {
	font-family: "Iosevka";
	color: #000000;
	font-size: 16px;
}

h2 span {
	padding: 4px;
	background-color: #ebebeb;
}

.pic {
	width: 400px;
}

@media only screen and (max-width: 900px) {
	.module {
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.middle {
		display: inline;
	}
	h1 {
		font-size: 22px;
	}
	p {
		font-size: 18px;
	}
	.blogpic {
		max-width: 80%;
	}
}

