::-moz-selection {
		background-color: #F9F1F0;
			color: #232425;
}

::selection {
		background-color: #F9F1F0;
			color: #232425;
}

::-webkit-scrollbar {
		width: 10px;
}

::-webkit-scrollbar-track {
		background: #121314;
}

::-webkit-scrollbar-thumb {
		background: #343536;
}

::-webkit-scrollbar-thumb:hover {
		background: #7C9CAB; 
}

:root {
	color-scheme: dark;
}

* {
	padding: none;
	margin: auto;
	scrollbar-color: #1e1e1e #0C090A;
}

html body {
	background-color: #000;
}

#bgimg {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 105%;
	min-height: 105%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	overflow: hidden;	
}

.links {
	font-family: monospace;
	margin: 0;
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: auto;
	font-size: 16px;
	background-color: #0C090A;
	color: #b3b8c3;
	width: 400px;
	border: solid 2px #1e1e1e;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	word-wrap: break-word;
}

.link {
	text-decoration: none;
	color: #b3b8c3;
}

.link:hover {
	text-decoration: underline;
}

.contentbox {
	font-family: monospace;
	font-size: 16px;
	word-wrap: break-word;
	overflow: auto;
	background-color: #0C090A;
	color: #b3b8c3;
	width:70%;
	max-width: 800px;
	border: solid 2px #1e1e1e;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	margin-top: 1%;
}

#backbtn {
	font-family: monospace;
	font-size: 20px;
	left: 10px;
	bottom: 10px;
	position: absolute;
}

.blogimg {
	max-width: 250px;
	max-height: 250px;
	float: left;
	margin-right: 10px;
}

.gradient {
	position: relative;
	display: block;
}

.gradient::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	right: 0;
	height: 50%;
	background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0)); 
}

.gradient:hover::before {
	cursor: pointer;
}

.greentext {
	color: #87b379;
}

.catalogcontainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 70%;
	max-width: 800px;
}

.catalogitem {
	margin-left: 20px;
	margin-right: 20px;
	width: 220px;
	max-height: 340px;
	text-align: center;
	display: inline-block;
	word-wrap: break-word;
	overflow: hidden;
	margin-top 5px;
	margin-bottom: 20px;
	padding: 5px 5px 3px;
	position: relative;
	font-size: 14px;
	background-color: #0C090A;
	color: #b3b8c3;
	border: solid 2px #1e1e1e;
	font-family: monospace;
	text-decoration: none;
}

.catalogimg {
	min-height: 50px;
	min-width: 50px;
	max-width: 200px;
	max-height: 200px;
	padding-bottom: 5px;
}

